.search {
  padding: 20rpx 16rpx;
  background: #ff2d4a;
  .search-input {
    width: 750rpx - 32;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60rpx;
    color: #bbbbbb;
    background-color: #fff;
    border-radius: 5px;
    .iconfont {
      font-size: 32rpx;
      margin-right: 16rpx;
    }
    span {
      font-size: 32rpx;
    }
  }
}
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}