.search {
  padding: 20rpx 16rpx;
  background: #ff2d4a;
  .search-input {
    width: 750rpx - 32;
    box-sizing: border-box;
    padding: 0 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60rpx;
    color: #bbbbbb;
    background-color: #fff;
    border-radius: 5px;
    .icon_size {
      font-size: 32rpx;
      margin-right: 16rpx;
    }
    .search_content {
      font-size: 32rpx;
    }
  }
}
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.left {
  justify-content: flex-start!important;
}
.right {
  justify-content: flex-end!important;
}